Source: ros-iron-naoqi-libqi
Section: misc
Priority: optional
Maintainer: Victor Paléologue <victor.paleologue@palaio.eu>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libssl-dev, ros-iron-ament-cmake, ros-iron-ament-cmake-gtest <!nocheck>, ros-iron-ros-workspace
Homepage: http://doc.aldebaran.com/libqi
Standards-Version: 3.9.2

Package: ros-iron-naoqi-libqi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libssl-dev, ros-iron-ros-workspace
Description: Aldebaran's libqi: a core library for NAOqiOS development
